{% extends '::base.html.twig' %}

{% block body -%}
    <h1>Novo Cliente</h1>

    {{ form(form) }}

        <ul class="record_actions">
    <li>
        <a class="btn btn-default" href="{{ path('cliente') }}" role="button">
            Voltar para a listagem
        </a>
    </li>
</ul>
{% endblock %}
